* {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    font-family: Poppins, "Helvetica Neue", sans-serif;
}

body {
    font-size: 1.6rem;
    margin: 0;
    background: hsl(0, 0, 0);
}

a {
    text-decoration: 0;
    color: inherit;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #000;
    padding: 2em 100px 2em 100px;
}

#nav-bar {
    display: flex;
}

.logo {
    height: 4em;
}

.nav-items {
    border: 1px solid #000;
    padding: 5px 15px;
    text-align: center;
    cursor: pointer;
}

.nav-items:first-child {
    border-radius: 8px 0 0 8px;
}

.nav-items:last-child {
    border-radius: 0 8px 8px 0;
}

.nav-items:hover {
    margin-top: -3px;
    background: linear-gradient(
        white, white 85%,
        #630100 95%, #630100 100%
        );
    border: 1px solid #630100;
    color: #630100;
}

#hero-section {
    padding: 1em 100px 1em 100px;
}

#hero-section > img {
    display: block;
    width: 100%;
    margin: 0 auto;
}

#hero-section > h1 {
    font-weight: 600;
    margin-bottom: 1rem;
}

#hero-section > h2 {
    font-weight: normal;
    margin-top: 1rem;
    margin-bottom: 1em;
}

#headquarters-section {
    padding: 1em 100px 0 100px;
}

.wrapper {
    display: flex;
}

.hq-image-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.hq-images-p {
    text-align: center;
}

.hq-images {
    display: flex;
    height: 5em;
    width: 5em;
    border: 1px solid #000;
    border-radius: 50%;
    margin: 0 1em;
}

.hq-images > img {
    object-fit: cover;
    width: auto;
    height: auto;
    border-radius: 50%;
}

.hq-images:hover {
    transform: scale(1.2);
}

#message-us-section {
    padding: 0 100px 3em 100px;
}

#message-us-section > table > tr {
    margin: 1em 0;
}

#kirim {
    width: 24em;
    padding: .5em;
    border: 1px solid #000;
    border-radius: 4px;
    margin-top: 1em;
    background-color: #630100;
    color: white;
    font-weight: 600;
}

#kirim:hover {
    background-color: #870000;
}

footer {
    display: block;
    text-align: right;
    padding: 1em 100px 1em 100px;
    border-top: 1px solid #000;
}